body {
	padding: 0;
	margin: 0;
	font-family: Georgia, serif;
	background-color: #F0F0FF;
}

.box {
	width: 200px;
	height: 150px;
	border-width: 1px;
	border-style: solid;
	border-color: #8080FF;
	/*text-align: justify;*/ /*Uncomment this for equal margins*/

	float: left;
	margin: 5px;
}

.box p {
	margin-left: 5px;
	margin-right: 5px;
}

.box h3 {
	background-color: #8080FF;
	color: #FFFFFF;
	margin-top: 0;
}

.box h3 span {
	margin-left: 5px;
	margin-right: 5px;
}

a {
	text-decoration: none;
	color: #000000;
}
